/* Autor: Miguel Ángel del Cura */

span.especial1{
    color:red;
    font-style: oblique;
}
hr{
    width: 60%;
    height: 8px;
    background-color: aqua;
    border: red 2px solid;
}

span.negrita{
    font-weight: bold;
}