html{
    border: green solid 4px;
}
body{
    margin: 0px 15px 5px 15px;
    border-style:solid;
    border-color: aqua;
    background-color: yellow;
}
h1{
    border-style:solid;
    border-color: red;
    border-width: 5px;
    background-color: blue;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
p{
    border: black solid 0.3rem;
    font-family: sans-serif;
    border-radius: 20px;
    padding:80px 20px 70px;
    width: 25%;

}