/*Selector universal*/
*{
    background-color: yellow;
}

/*Selector de etiqueta*/

h1{
    background-color: green;
}

footer{
    border: green double 15px;
    border-radius: 35px;

}

/*Selector de clase*/
p.fondoazul{
    background-color: blue;
}

/*Selector de id*/
p#uniconaranja{
    background-color: orange;
}

/*Selector descendiente*/
footer p{
  color: red;  
}

ol{
    padding-left: 0;
}